@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
}