
body.light-theme, :root {
  /* light theme color */
  --accent: $accent;
  --background: #f0f0f0;
  --color: #363a45;
  --border-color: rgba(0,0,0,.1);
/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
}


body.dark-theme {
  /* dark theme colors */
  --accent: $accent;
  --background: #242933;
  --color: #cdd3e3;
  --border-color: rgba(255,255,255,.1);
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    /* light theme color */
    --accent: $accent;
    --background:#f0f0f0;
    --color: #363a45;
    --border-color: rgba(0,0,0,.1);
  }
}

  $phone: "max-width: 684px";
  $tablet: "max-width: 900px";

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    /* dark theme colors */
  --accent: $accent;
  --background: #242933;
  --color: #cdd3e3;
  --border-color: rgba(255,255,255,.1);
  }
}

